
body{
    font: 20px arial, sans-serif;
}

.navbar{
    background-color:				#A020F0;
}

.quem-somos{
    background-color: 			#B0E0E6;
    color: white;
}

.margin{
    padding-top: 10px;
    padding-bottom: 40px;
}

.parceiros{
    background-color: 		#DA70D6;
    color: white;
}

.servicos{
    background-color: pink;
}

.bg-footer{
    background-color: grey;
    color: white;
}


